fieldset{
    h1{
       text-align: center; 
    }
    #title{
        text-align: left;
        font-family: 'open sans', sans-serif; 
        width: 436px;
    }
    #description{
        text-align: left;
        font-family: 'open sans', sans-serif; 
        width: 700px;
    }
}

#main {
    transition: margin-left .5s;
    widows: 88%;
    max-width: 89%;
    padding-left: 11.5%;
    padding-top: 2.25%;
    word-wrap: break-word;
    
    
}
}