fieldset{
    h1{
       text-align: center;
    }
    h2{
     margin-left: 8%;
     background-color: #41a7b8;
        
    }
    #title{
        text-align: left;
        font-family: 'open sans', sans-serif; 
        width: 505px;
        margin-left: 8%;
    }
    #description{
        text-align: left;
        font-family: 'open sans', sans-serif; 
        width: 700px;
        margin-left: 8%;
    
    }
}

#main {
    transition: margin-left .5s;
    widows: 88%;
    max-width: 89%;
    padding-left: 11.5%;
    padding-top: 2.25%;
    word-wrap: break-word;
    position:absolute;

    left:250px;
    right:100px;
    top:52px;
    width:1000px;
 
}
.button {
    border: none;
    color: white;
    padding: 10px 20px;
    left: 15px;
    top: -17px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

