<form [formGroup]="form">
    <fieldset>
        <mat-form-field color="accent" appearance="outline">
        <!-- <mat-label>Email</mat-label> -->
        <input matInput placeholder="email" name="email" formControlName="email">
        <mat-label>Email</mat-label>
        <mat-error>{{getErrorMessage('email')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput name="password" formControlName="password" type="password">
            <mat-label>Password</mat-label>
            <mat-error>{{getErrorMessage('password')}}</mat-error>
        </mat-form-field>
    </fieldset>
    <button mat-button mat-raised-button color="primary" class="button button-primary" [disabled]="!form.valid" (click)="login()">Login</button>
</form> 
