header{
    width: calc(100% - 30px);
    height: 50px;
    padding: 0 15px;
    top: 0;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    .left {
        color: white;
    }
    .right {
        font-size: 14px;
        text-align: right;
        color: white;
        width:520px;
        overflow-x: hidden;
  
        a {
            color: white;
            text-decoration: none;
        }
    }
  }

  #main {
    transition: margin-left .5s;
    width:88%;
    max-width: 89%;
    padding-left: 220px;
    padding-top: 37px;
    word-wrap: break-word;
}