<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<head>  
<title>Project Thing - Dashboard</title>
</head>
<body>
    
    <div class="navbar">
      <a routerLink="/dashboard" title="Return to Dashboard"><img src="assets/avatar_1.png" type="Avatar"></a><br/>
     <!-- <ul>
      <hr><p>Student</p><hr>
      
      <a routerLink="/login"><li><i class="fas fa-users"></i> Return</li></a>
      <a routerLink="/login"><li><i class="fas fa-users"></i> Return</li></a> 

      <hr><p>Teacher</p><hr>
      
      <hr><p>Actions</p><hr>
      <a href="javascript:void(0)" (click)="logout()"><li><i class="fas fa-users"></i> Logout</li></a>
      </ul> -->

      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      
    </div> 
    <a href="#" routerLink="/login">Login</a>

</body>
