.navbar {
    background: #424142; 
    width: 11%;
    height: 100%;
    position: fixed;
    font-size: 18px;
    color: white;
    text-align: center;
    hr{
        border-color: #41a7b8;
        width: 80%;
        margin: auto;
        margin-top: 5px;
    }
    img{
        position:absolute;
        top:30px;
        left:25%;  
        width: 50%;
        border-radius: 50%;
    }
    p{
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }
    ul{
         
        a {
            text-decoration: none;
            transition: 200ms all ease-in-out;
            li{
                color: #b0b1b4;
                width: 80%;
                height: 40px;
                margin: auto;
                margin-top: 5px;
                line-height: 40px;
                list-style: none;
                text-align: left;
                font-size: 15px;
                padding-left:5px;
                transition: 200ms all ease-in-out;
                opacity: 100;

                &:hover {
                    ul{
                        opacity:100 !important;
                        transition: 200ms all ease-in-out;
                    }
                    color: white;
                    background-color: #41a7b8;
                    border-radius: 5px;
                }
            }
            ul {
                opacity: 0;
                display: block;
                font-size: 16px;
                margin: 4px;
                margin-left: 0px;
                min-width: 114px;
                height: 100%;
                li {
                    background-color: #515051;
                    margin-bottom: -5%;
                    padding-right: 10%;
                    border-radius: 0px;
                    text-align: center;
                }
            }
        }
    }
}