<head>  
<title>Think IT - Dashboard</title>
</head>
<router-outlet></router-outlet>
<app-navigation></app-navigation>

<div id="ribbon">
    <ul>
        <li><a href="">School Website</a></li>
        <li><a href="">Student Classes</a></li>
        <li><a href="">Homework</a></li>
        <li><a href="">Pastoral</a></li>
    </ul>
 </div>

<div id="main" (mouseover)="closeNav()">
        <!-- Main Parts of the Page go in here-->
        This is the main dashboard page<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        Text for scrolling
</div>