
header{
    width: calc(100% - 30px);
    height: 50px;
    padding: 0 15px;
    top: 0;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 10;
    .left {
        color: white;
    }
    .right {
        font-size: 14px;
        color: white;
        div {
            display: inline-block;
            vertical-align: middle;
            overflow-x:hidden;
        };
  
        a {
            color: white;
            text-decoration: none;
        }
    }
  }

  #main {
    transition: margin-left .5s;
    width:88%;
    max-width: 89%;
    padding-left: 220px;
    padding-top: 37px;
    word-wrap: break-word;
}

.navbar {
    background: #323130;
    width: 210px;
    height: 100%;
    top:50px;
    position: fixed;
    font-size: 18px;
    color: white;
    text-align: center;
    z-index: 1;
    .avatar{
        :before{
            content: "";
	display: block;
	padding-top: 100%;
        }
        margin-top: 20px;
        margin-bottom: -20px;
        width: 50%;
        height: auto;
        position: relative;
        border-radius: 50%;
        // border: 2px solid white;
        background-color: black;
        p{
            color: orange;
            position: absolute;
            display: none;
            top: 50%;
            bottom: 50%;
            transform: translate(-50%, -50%);
        }
    }
    hr{
        border-color: #41a7b8;
        width: 80%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    // img{
    //     margin-top: 20px;
    //     margin-bottom: -20px;
    //     width: 50%;
    //     border-radius: 50%;
    // }
    p{
        color: white;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 13px;
    }
    ul{
        padding-left: 0px;
        a {
            text-decoration: none;
            transition: 100ms all ease-in-out;
            li{
                color: #b0b1b4;
                width: 80%;
                height: 40px;
                margin: auto;
                line-height: 40px;
                list-style: none;
                text-align: left;
                font-size: 15px;
                padding-left:5px;
                transition: 100ms all ease-in-out;
                opacity: 100;
                white-space: nowrap;
                overflow: hidden;
                &:hover {
                    ul{
                        opacity:100 !important;
                        transition: 200ms all ease-in-out;
                    }
                    color: white;
                    background-color: #3e3d3c;
                    border-radius: 2px;
                }
            }
            &:hover {
                cursor:pointer;
            }
        }
    }
}
.subNav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 50px; 
    left: 5;
    margin-left: 210px;
    background-color: #323130; 
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 10px;
    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        color: #b0b1b4;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        
        i {
            padding-right: 5px;
        }
        &:hover {
            color: #f1f1f1;
        }
    }
    .closebtn {
        position: absolute;
        opacity: 0;
        transition: 0.5s ease-out;
        right: 20px;
        @media only screen and (max-width: 600px) {
            opacity: 100;
          }
    }
    &:hover{
        .closebtn{
            opacity: 100;
            transition: 0.1s all ease-in;
        }
    }
}
#avatarInput{
    opacity: 0;
}

.avatarContainer{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 40px;
    img{
        height: 100%;
        vertical-align:  middle;
    }
    input{
        position: relative;
        height: 200px;
        width: 200px;
        top: -205px;
    }
}

.role {
    padding-right: 10px;
};

.navHeader {
    position: relative;
    p {    
        text-align: left;
        position: relative;
        padding-left: 25px;
        font-size: 10px;
        width: 210px;
        overflow: hidden;
        span {
            margin-left: 5px;
            margin-right: 5px;   
        }
        &:before, &:after {
            position: absolute;
            overflow: hidden;
            width: 54%;
            top: 45%;
            height: 1px;
            content: '\a0';
            background-color: grey;
        }
        &:before {
            margin-left: -54%;
            text-align: right;
        }
       
    }

}