<router-outlet></router-outlet>
<app-navigation></app-navigation>
<div id="main">
  <h1>Student Search</h1>
    <mat-form-field color="accent" appearance="outline" class="keywordssearchbox">
        <input matInput name="keywords" formControlName="keywords">
        <mat-label>Keywords</mat-label>
        </mat-form-field>
    <!--This here is where you would add the search function call-->
    <a href="" style="color: black; ">
    <i class="fas fa-search" style="font-size: 27px; padding-left: 20px;"></i>
    </a>
    <br/>
      <div class="searchoptions">
        
      </div>
</div>

