<router-outlet></router-outlet>
<app-navigation></app-navigation>

<div id="main">
  <h1>Student Search</h1>
  <form [formGroup] = "myGroup">
    <mat-form-field color="primary" appearance="outline" class="keywordssearchbox">
        <input matInput name="Keywords" type="search" (formControl)="Keywords" (keyup)="doFilter($event.target.value)">
        <mat-label>Keywords</mat-label>
    </mat-form-field>
    <mat-slide-toggle (Change)="showDiv = !showDiv">Advanced Search</mat-slide-toggle>
  </form>
    <!--This here is where you would add the search function call-->
    <div ng-show="showDiv">
    <br/>
      <div class="searchoptions">
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openYearDialog()">Year<br/><i class="fas fa-users"></i></button>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openClassDialog()">Class<br/><i class="fas fa-chalkboard-teacher"></i></button>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openDialog()">Subject<br/><i class="fas fa-book"></i></button>
        <button mat-button mat-raised-button color="primary" class="ethnicity button button-primary" (click)="openDialog()">Ethnicity<br/><i class="fas fa-male"></i>&nbsp; <i class="fas fa-male"></i>&nbsp; <i class="fas fa-male" id="white"></i></button>
        <br/>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openDialog()">House<br/><i class="fas fa-home"></i></button>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openDialog()">Gender<br/><i class="fas fa-female"></i>&nbsp; <i class="fas fa-male"></i></button>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openDialog()">Credits<br/><i class="fas fa-id-card"></i></button>
        <button mat-button mat-raised-button color="primary" class="button button-primary" (click)="openDialog()">Age<br/><i class="far fa-calendar-alt"></i></button>
        <!--This is And/Or buttons-->
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="bold">And</mat-button-toggle>
          <mat-button-toggle value="bold">Or</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
      <!--This is the Table-->
      <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="FirstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let student"> {{student.FirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName(s)</th>
          <td mat-cell *matCellDef="let student"> {{student.LastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Sex">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sex</th>
          <td mat-cell *matCellDef="let student"> {{student.Sex}} </td>
        </ng-container>
        <ng-container matColumnDef="YearGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Year Group</th>
          <td mat-cell *matCellDef="let student"> {{student.YearGroup}} </td>
        </ng-container>
        <ng-container matColumnDef="Homeroom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Homeroom</th>
          <td mat-cell *matCellDef="let student"> {{student.Homeroom}} </td>
        </ng-container>
        <ng-container matColumnDef="DateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>DOB</th>
          <td mat-cell *matCellDef="let student"> {{student.DateOfBirth}} </td>
        </ng-container>
        <ng-container matColumnDef="LevelOneCredits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>L1 Credits</th>
          <td mat-cell *matCellDef="let student"> {{student.LevelOneCredits}} </td>
        </ng-container>
        <ng-container matColumnDef="LevelTwoCredits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>L2 Credits</th>
          <td mat-cell *matCellDef="let student"> {{student.LevelTwoCredits}} </td>
        </ng-container>
        <ng-container matColumnDef="LevelThreeCredits">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>L3 Credits</th>
          <td mat-cell *matCellDef="let student"> {{student.LevelThreeCredits}} </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
      <!--DIALOGSSSS-->
</div>

