#main {
    transition: margin-left .5s;
    width:88%;
    max-width: 89%;
    padding-left: 220px;
    padding-top: 37px;
    word-wrap: break-word;
    }
.keywordssearchbox{
    width: 500px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .sexpicker{
    mat-radio-button{
    font-size: 30px;
    }
  }
  button{
    margin: 10px;
  }
  .searchoptions{
    button{
      width: 150px;
      height: 150px;
      font-size: 25px;
      text-align: center;
    }
    .ethnicity{
      .fa-male:last-child{
          color: #D2B48C;
        }
      .fa-male:not(:first-of-type):not(:last-child){
          color: #8B4513;
        }
        
      }
  }
  mat-button-toggle-group{
    margin-left: 45%;
    float: left;
    position: absolute;
    mat-button-toggle{
      width: 50px;
    }
  }
  table{
    width: 100%;
    th{
        width: 25%;
    }
    td{
        width: 25%;
    }
}
.mat-row:nth-child(even){
    background-color:#d9d9d9;
    }

.mat-row:nth-child(odd){
    background-color:#f2f2f2;
    }
td.mat-cell{
    border-bottom: none;
}
td.mat-cell:last-of-type{
    padding-left: 20px;
}
/*
mat-header-row{
    background-color: #b8b8b8;
} 
*/
th.mat-header-cell:last-of-type{
    padding-left: 20px;
    padding-right: calc(100%-(348.75px-(328.75px-328.75px)-24px));
}