#main {
    transition: margin-left .5s;
    width:88%;
    max-width: 89%;
    padding-left: 220px;
    padding-top: 37px;
    word-wrap: break-word;
    }
.keywordssearchbox{
    width: 500px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .sexpicker{
    mat-radio-button{
    font-size: 30px;
    }
  }